SHOPIFY_STORE=eqjwir-jc.myshopify.com
SHOPIFY_CLIENT_ID=your_shopify_client_id
SHOPIFY_CLIENT_SECRET=your_shopify_client_secret
VAPI_API_KEY=your_vapi_api_key
VAPI_ASSISTANT_ID=f67cfb35-5f40-430d-b70f-718940af7a43
VAPI_OLD_FILE_ID=
